<header>
	<nav>
		<a href={{path('front_home_index')}}>
			<img src={{asset('img/candy_logo2.webp')}} alt="candy logo"></a>
		<a href={{path('front_home_index')}}>Products</a>
		<a href={{path('front_home_contact')}}>Contact</a>
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Admin
			</button>
			<ul class="dropdown-menu border border-primary">
				<li>
					<a class="dropdown-item" href={{path('admin_category_index')}}>Categories</a>
				</li>
				<li>
					<a class="dropdown-item" href={{path('admin_article_index')}}>
					Articles</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
