{% extends "base.html.twig" %}

{% block stylesheets %}{# <link rel="stylesheet" href={{asset('css/admin_article.css')}}> #}
	{# todo: create an update css file #}
{% endblock %}

{% block body %}
	<main>
		<h1>Update an Article</h1>
		{{form_start(form)}}
		{# {{form_row(form.description)}} #}
		{{form_rest(form)}}
		<input type="submit" value="Save Changes" class="btn btn-primary">
		{{form_end(form)}}
	</main>
{% endblock %}
