<header>
	<nav class="navbar navbar-expand-lg bg-primary" style="">
		<div class="container-fluid">
			<a class="navbar-brand" href={{path('front_home_index')}}>Lumi Design</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
				{% if is_granted('ROLE_USER') %}
				<li class="nav-item">
							<a class="nav-link" href={{path('front_profile_index')}}>Profile</a>
						</li>
				{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link" href={{path('admin_dashboard_index')}}>Dashboard</a>
						</li>
					{% endif %}
					{% if not is_granted('IS_AUTHENTICATED') %}
						<li class="nav-item">
							<a class="nav-link" href={{path('register')}}>Inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href={{path('app_login')}}>Connexion</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href={{path('front_orders_index')}}>Mes Commandes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href={{path('app_logout')}}>Déconnexion</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href={{path('front_cart_index')}}><img src={{asset('img/icons/shopping-cart.png')}} alt="cart shopping"></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
