{% extends "front/base.html.twig" %}

{% block title %}
{{parent()}} Récapitulatif Commande
{% endblock %}

{% block body %}
<main class="container my-5">
    <h1 class="text-center">Mes Dernières Commandes</h1>
    {# <pre>
        {{ dump(orders) }}
    </pre> #}
        <table class="table table-striped">
        <thead>
        <tr>
        <th>{{knp_pagination_sortable(orders, 'Numéro de Commande', 'o.orderNumber')}}</th>
        <th>{{knp_pagination_sortable(orders, 'Date de commande', 'o.createdAt')}}</th>
        </tr>
        </thead>
        <tbody>
    {% for o in orders %}
        <tr>
        <td>{{o.orderNumber}}</td>
        <td>{{o.createdAt|date('d/m/y H:i:s')}}</td>
        </tr>
    {% endfor %}
        </tbody>
        </table>
        <div class="navigation mt-4">
			{{ knp_pagination_render(orders) }}
		</div>
</main>
{% endblock %}
