<header>
	<nav class="nav navbar justify-content-around bg-dark p-2">
		<a href={{ path('home_index') }}>Home</a>
		<a href={{ path('home_hello', { name : 'Roo'} ) }}>Hello</a>
		<a href={{ path('home_greetings', {age : 502} ) }}>Greetings</a>
		<a href={{ path('home_templates', { test : 'test'} ) }}>Animal Story</a>
		<a href={{ path('article_index') }}>Articles</a>
	</nav>

</header>
