{% extends 'base.html.twig' %}

{% block title %}Admin Categories
{% endblock %}

{% block body %}
	<main>

		<h1>Update a Category</h1>
		{# {{form(form)}} #}

		{# * we can reorder the fields of the form: #}
		{{form_start(form)}}
		{# {{form_row(form.description)}} #}
		{{form_rest(form)}}
		<input type="submit" value="Save Changes" class="btn btn-primary">
		{{form_end(form)}}

	</main>
{% endblock %}
